In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model

Base = automap_base()

# reflect the tables

Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found

Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement

Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB

session = Session(engine)

In [10]:
m_table = session.query(Measurement).first()
m_table.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2bd1c760730>,
 'date': '2010-01-01',
 'id': 1,
 'tobs': 65.0,
 'station': 'USC00519397',
 'prcp': 0.08}

In [27]:
#measurements table rows

for row in session.query(Measurement.id, Measurement.date, Measurement.tobs, Measurement.prcp, Measurement.station).limit(10).all():
    print(row)

(1, '2010-01-01', 65.0, 0.08, 'USC00519397')
(2, '2010-01-02', 63.0, 0.0, 'USC00519397')
(3, '2010-01-03', 74.0, 0.0, 'USC00519397')
(4, '2010-01-04', 76.0, 0.0, 'USC00519397')
(5, '2010-01-06', 73.0, None, 'USC00519397')
(6, '2010-01-07', 70.0, 0.06, 'USC00519397')
(7, '2010-01-08', 64.0, 0.0, 'USC00519397')
(8, '2010-01-09', 68.0, 0.0, 'USC00519397')
(9, '2010-01-10', 73.0, 0.0, 'USC00519397')
(10, '2010-01-11', 64.0, 0.01, 'USC00519397')

In [12]:
s_table = session.query(Station).first()
s_table.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2bd1c7746d0>,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'longitude': -157.8168,
 'id': 1,
 'name': 'WAIKIKI 717.2, HI US',
 'elevation': 3.0}

In [13]:
for row in session.query(Station.id, Station.name, Station.station, Station.longitude, Station.latitude, Station.elevation).all():
    print(row)

(1, 'WAIKIKI 717.2, HI US', 'USC00519397', -157.8168, 21.2716, 3.0)
(2, 'KANEOHE 838.1, HI US', 'USC00513117', -157.8015, 21.4234, 14.6)
(3, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'USC00514830', -157.8374, 21.5213, 7.0)
(4, 'PEARL CITY, HI US', 'USC00517948', -157.9751, 21.3934, 11.9)
(5, 'UPPER WAHIAWA 874.3, HI US', 'USC00518838', -158.0111, 21.4992, 306.6)
(6, 'WAIMANALO EXPERIMENTAL FARM, HI US', 'USC00519523', -157.71139, 21.33556, 19.5)
(7, 'WAIHEE 837.5, HI US', 'USC00519281', -157.84888999999998, 21.45167, 32.9)
(8, 'HONOLULU OBSERVATORY 702.2, HI US', 'USC00511918', -157.9992, 21.3152, 0.9)
(9, 'MANOA LYON ARBO 785.2, HI US', 'USC00516128', -157.8025, 21.3331, 152.4)

# OR

In [14]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
inspector.get_table_names()

['measurement', 'station']

In [15]:
# Using the inspector to print the column names within the 'measuremnts' table and its types
columns1 = inspector.get_columns('measurements')

for column in columns1:
    print(column["name"], column["type"])

In [16]:
# Using the inspector to print the column names within the 'station' table and its types
columns2 = inspector.get_columns('station')

for column in columns2:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

--------------------------------------------------------------------------------------------------------------------------

********************* Precipitation Analysis *********************

--------------------------------------------------------------------------------------------------------------------------

In [17]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

#calulation the last date.
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23',)

In [18]:
# Calculate the date 1 year ago from the last data point in the database
year_ago_date= dt.date(2017, 8, 23) - dt.timedelta(days=366)
print('Query Date:', year_ago_date)

Query Date: 2016-08-22

In [28]:
# Perform a query to retrieve the data and precipitation scores

prcp_date = session.query(Measurement.date, Measurement.prcp).\
            filter(func.strftime('%Y-%m-%d',Measurement.date) > year_ago_date).order_by(Measurement.date).limit(10).all()
prcp_date

[('2016-08-23', 0.0),
 ('2016-08-23', 0.15),
 ('2016-08-23', 0.05),
 ('2016-08-23', None),
 ('2016-08-23', 0.02),
 ('2016-08-23', 1.79),
 ('2016-08-23', 0.7),
 ('2016-08-24', 0.08),
 ('2016-08-24', 2.15),
 ('2016-08-24', 2.28)]

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column

prcp_df = pd.DataFrame(prcp_date, columns=['date', 'prcp'])
prcp_df.set_index('date', inplace = True)

In [ ]:
# Sort the dataframe by date

sort_df = prcp_df.sort_values('date')
sort_df

In [ ]:
prcp_df.plot(title="Precipitation Analysis", figsize=(12,8))
plt.legend(loc='upper center')
#plt.savefig("Images/precipitation.png")
plt.tight_layout()

plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
prcp_df.describe()

--------------------------------------------------------------------------------------------------------------------------

********************* Station Analysis *********************

--------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Design a query to show how many stations are available in this dataset?
number_of_stations = session.query(Station).count()
number_of_stations

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
active_stations = (session.query(Measurement.station, func.count(Measurement.station))
                    .group_by(Measurement.station)
                    .order_by(func.count(Measurement.station).desc()).all())
active_stations

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

tobs = [Measurement.station, func.min(Measurement.tobs),
       func.max(Measurement.tobs),func.avg(Measurement.tobs)]

activeStation = session.query(*tobs).filter(Measurement.station=='USC00519281').all()
activeStation

In [ ]:
pd.DataFrame(activeStation, columns=['station', 'min_temp', 'max_temp', 'avg_temp']).set_index('station')

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
#year_high

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
year_high_temp =(session.query(Measurement.date,(Measurement.tobs))
                  .filter(func.strftime(Measurement.date) > year_ago_date)
                  .filter(Measurement.station=='USC00519281')
                  .all())
year_high_temp

In [ ]:
tobs_df = pd.DataFrame(year_high_temp, columns=['date', 'temp']) 
tobs_df.set_index('date', inplace = True)

In [ ]:
plt.rcParams['figure.figsize']=(10,7)

plt.hist(tobs_df['temp'], bins=12, alpha=0.6 )

plt.title('Temperature Observation Aug 2016 - Aug 2017\nHonolulu, Hawaii',fontsize=20)
plt.xlabel('Temperature (F)',fontsize=16)
plt.ylabel('Frequency',fontsize=16)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.ylim(0,70)

plt.show()

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`

# ROUGH WORK FOR APP.PY

In [ ]:
# from flask import Flask, jsonify

In [ ]:
# def precipitation():
#     # Create session (link) from Python to the DB
#     session = Session(engine)

#     # Query Measurement
#     results = (session.query(Measurement.date, Measurement.prcp)
#                       .order_by(Measurement.date))
    
#     # Create a dictionary
#     precipitation_date = []
#     for each_row in results:
#         dt_dict = {}
#         dt_dict["date"] = each_row.date
#         dt_dict["prcp"] = each_row.prcp
#         precipitation_date.append(dt_dict)

# #     return jsonify(precipitation_date)
#     return(precipitation_date)

In [ ]:
# precipitation()

In [ ]:
# #def tobs():
    
# #create a session
# session3 = Session(engine)

# # Query measurement for latest datre 
# last_date = session3.query(Measurement.date).order_by(Measurement.date.desc()).first()

# print(last_date)
# last_12mnth = (dt.datetime.strptime(last_date[0],'%Y-%m-%d') -dt.timedelta(days=365)).date()
# print(last_12mnth)

# #  year_ago_date= dt.date(2017, 8, 23) - dt.timedelta(days=366)
# # # print('Query Date:', year_ago_date)

# tobs_results = session3.query(Measurement.date, Measurement.tobs).\
# filter(Measurement.date >= last_12mnth).order_by(Measurement.date).all()

# # Create a list of dicts with `date` and `tobs` as the keys and values
# tobs_totals = []
# for result in tobs_results:
#     row = {}
#     row["date"] = result[0]
#     row["tobs"] = result[1]
#     tobs_totals.append(row)

# tobs_totals

In [ ]:
# def start_date(start):
#    # print("start_date status:OK")
#     #convert the tsring from user to date
#     start_date = dt.datetime.strptime(start, '%Y-%m-%d').date()
#     last_date_dd = (dt.datetime.strptime(last_date[0][0], '%Y-%m-%d')).date() 
#     first_date_dd = (dt.datetime.strptime(first_date[0][0], '%Y-%m-%d')).date()
#     #if fgiven start_date greater than last or lesser than first available date in dataset, print the following 
#     if start_date > last_date_dd or start_date < first_date_dd:
#         return(f"Select date range between {first_date[0][0]} and {last_date[0][0]}")
#     else:
#         #Return a JSON list of the minimum temperature, the average temperature, 
#         #and the max temperature for a given start range.
#         start_min_max_temp = session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs),\
#             func.max(Measurement.tobs)).filter(Measurement.date >= start_date).all()
#         start_date_data = list(np.ravel(start_min_max_temp))
#         #return jsonify(start_date_data)